@import "variables.css";

.container {
  padding: 40px 100px;
}

.container h1 {
  color: var(--primary-blue);
  margin-bottom: 40px;
}

.container h2 {
  color: var(--secondary-blue);
  margin-bottom: 20px;
  text-align: center;
}

#card {
  background-color: var(--white);
  border: 2px solid var(--primary-blue);
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: calc(100% / 3);
  margin: 0 auto;
}

#card .card__info {
  width: 100%;
  height: 100%;
}

#card .card__info .card__text-info {
  text-align: left;
  color: var(--primary-blue);
  font-size: var(--f18);
  font-weight: var(--bold);
  margin: 20px 0;
}

#card .card__info .card__text {
  font-size: var(--f16);
  line-height: 25px;
}

#card .card__info .card__text .primary-text {
  color: var(--hover-blue);
  font-weight: var(--bold);
}